<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>쿠키를 요청하시겠습니까?</h1>
        <button id="btn_send"> 쿠키요청하기 </button>
        <div id="result">            
        </div>
    </body>
        
    <script>
       $("#btn_send").click(()=>{
        console.log("btn")
            $.get("/cookie/request",{}, (data)=>{
                console.log(data)
                $("#result").empty();
                $("#result").append("<p> "+data.firstcookie.school+ "</p>")
                $("#result").append("<p> "+data.firstcookie.class+ "</p>")
                $("#result").append("<p> "+data.firstcookie.authorized+ "</p>")
            });
       })
    </script>
</html>