<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>
        <%= name %>
        (<%= age %>)
        님 환영합니다 (EJS).</h1>
        
        <% for (let index = 0; index < 5; index++) { %>
            <p> 환영합니다! </p>
        <% } %>
</body>
</html>