<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ICT 교육 사이트에 오신것을 환영합니다. </h1>
    <p><%= name %>님의 방문을 진심으로 환영합니다. </p>
    <a href="/logout">logout</a>
  </body>
</html>
