<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>회원가입 화면입니다.</h1>
    <p>회원가입에 필요한 정보를 입력하세요</p>

    <form action="/signup" method="post">
      <label>UserID : </label>
      <input type="text" name="userid" class="form-control"><br>
      <label>Name : </label>
      <input type="text" name="name" class="form-control"><br>
      <label>password : </label>
      <input type="password" name="password" class="form-control"><br>
      <input type="submit" value="회원가입하기" class="btn btn-primary">
    </form>
  </body>
</html>
