<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>     
        <title>Document</title>
    </head>
    <body>
        <br>
        <div class="container">
            <h1>관리자 지갑 생성 페이지</h1>
            <label> 관리자 ID : </label>
            <input type="text" class="form-control" id="adminid"><br>
            <label> 관리자 PW : </label>
            <input type="text" class="form-control" id="adminpw"><br>
            <button class="btn btn-danger" id="gen-btn">인증서 생성하기</button>
        </div>
        <div class="container" id="result"> </div>
    </body>
    <script>
        $('#gen-btn').click(()=>{
            const id = $('#adminid').val();
            const password = $('#adminpw').val();

            $.post("/admin",{id, password}, (data)=>{
                $('#result').empty()
                $('#result').append(data.msg)                
            })
        })
    </script>
</html>