<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
    <body>
        <br>
        <div class="container">
            <h1>환영합니다. 지갑 관리 사이트 입니다.</h1>
            <a href="./admin-wallet.html" class="btn btn-danger">관리자 지갑 생성</a> <br> <br>
            <a href="./user-wallet.html" class="btn btn-success">사용자 지갑 생성</a> <br> <br>
            <a href="./createasset.html" class="btn btn-warning">자산생성</a>
            <a href="./readasset.html" class="btn btn-warning">자산조회</a>
        </div>        
    </body>
</html>